:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --btn-bgc: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: F5F5F5;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */
/* logo */
.logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-color {
  color: var(--accent-color);
}
.logo-color:hover {
  color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.site-nav {
  text-align: center;
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */
.list.contacts {
  text-align: right;
}
.list.contacts .link {
  color: var(--primary-text-color);
}
.list.contacts .link:hover,
.list.contacts .link:focus {
  color: var(--accent-color);
}

/* main */

.section-title {
  color: var(--title-text-color);
}

.benefits .title {
  color: var(--title-text-color);
  text-transform: uppercase;
}

.title {
  color: var(--title-text-color);
}

.hero {
  background-color: #2f303a;
  position: absolute;
  }
.hero-title {
  color: var(--white-text-color);
}

/* buttons */
.button {
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
}

.button.main {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.button.main:hover,
.button.main:focus {
  background-color: var(--btn-bgc);
  color: var(--title-text-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--btn-bgc);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer > .logo {
  color: var(--white-text-color);
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
}
.footer .logo-color:hover,
.footer .logo-color:focus {
  color: var(--white-text-color);
}

.footer .list {
  font-style: normal;
  list-style: none;
}

.address {
  color: var(--white-text-color);
  text-decoration: none;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
